server:
  port: 8080
  tomcat:
    max-part-count: 20

spring:
  datasource:
    url: jdbc:postgresql://${PGHOST}${PGPORT}${PGDATABASE}
    username: ${PGUSER}
    password: ${PGPASSWORD}
  jpa:
    hibernate:
      ddl-auto: update 
      show-sql: true 
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

app:
  jwt:
    secret: "CHANGE_ME_TO_A_LONG_RANDOM_SECRET_32+CHARS"
    expiration-minutes: 120
  cors:
    allowed-origins: "https://solidarite-serenite.vercel.app/"

